.loginSignupHeader {
  font-weight: 600;
  font-size: 30px;
  color: #FF7043;
}
.loginForm {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 350px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.field {
  width: 100%;
}
.field input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
}
.field input:focus {
  outline: none;
}
.field button {
  width: 100%;
  margin-top: 20px;
  background: #FF7043;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
  font-weight: 500;
}
.field .google{
  background-color: #fff;
  border: 2px solid #FF7043;
  color: #FF7043;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google img{
  height: 25px;
  margin: 0 10px;
}
.field button:hover {
  cursor: pointer;
}
.field button:disabled {
  cursor: not-allowed;
}
.divider{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #616161;
  position: relative;
  width: 80%;
  margin: 30px auto;
}
.divider>span{
  position: absolute;
  background-color: #fff;
  color: #616161;
  width: 20%;
  font-weight: 500;
  text-align: center;
}